.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  color: var(--text-secondary);
  pointer-events: none;
  z-index: 1;
}

.input-icon.left {
  left: 16px;
  color: var(--text-secondary);
  opacity: 0.7;
}

.dark .input-icon.left {
  opacity: 1;
}

.input-icon.right {
  right: 16px;
  display: none;
}

.new-todo:focus + .input-icon.right {
  display: block;
}

.new-todo {
  border: none;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  padding: 16px 40px;
  font-size: 0.875rem;
  cursor: pointer;
  width: 100%;
  color: var(--text-primary);
  font-weight: 500;
  text-decoration: none;
}

.new-todo::placeholder {
  color: var(--text-secondary);
  opacity: 0.7;
}

.new-todo:hover {
  filter: brightness(0.97);
}

.dark .new-todo:hover {
  filter: brightness(1.1);
}

/* Autofill (Chrome/Safari) */
.new-todo:-webkit-autofill,
.new-todo:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s; /* trick to neutralize */
  box-shadow: 0 0 0px 1000px transparent inset; /* removes background */
}

.new-todo:focus {
  outline: 2px solid var(--text-primary);
}

.new-todo:focus-visible {
  outline: 2px solid var(--text-primary);
  outline-offset: 2px;
}
