footer {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
  font-size: 0.875rem;
  color: var(--text-secondary);
  justify-content: space-between;
  margin: 0 8px;
}

.footer-counts {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
