.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 8px;
}

.login-container h1 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 16px;
}

.login-description {
  margin-bottom: 8px;
  color: #666;
  text-align: center;
  padding: 0 16px;
}

.login-buttons {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.google-button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 16px;
  corner-shape: squircle;
  margin-right: 12px;
}

.google-button:hover {
  background: #f5f5f5;
}

.guest-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 16px 16px 16px;
  border: 0px solid #ddd;
  border-radius: 8px;
  background: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 16px;
  corner-shape: squircle;
  color: #171717;
}

.guest-button:hover {
  background: #f5f5f5;
}

.guest-note-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
  padding: 0 16px;
}

.guest-note {
  font-size: 0.75rem;
  font-weight: 500;
  color: #666;
}

.preview-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-width: 500px;
  margin-top: 5rem;
  transform: rotate3d(1, 1, 1, -65deg) translateX(24px);
  scale: 1.3;
}

.app-mockup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  border-radius: 24px;
  padding: 1rem;
  box-shadow: 0 0px 50px rgba(103, 103, 103, 0.1);
  corner-shape: squircle;
  max-width: 500px;
  width: 100%;
  opacity: 0.95;
  border: 1px solid #ddd;
  padding-bottom: 1rem;
}

@media (max-width: 640px) {
  .login-container {
    overflow: hidden;
  }

  .preview-container {
    margin-top: 1rem;
    scale: 1.1;
  }

  .login-buttons {
    flex-direction: column;
  }
}
