ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
}

hr {
  border: 1px solid #f0f0f0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 40px;
}

.todos {
  padding: 0 16px 0 8px;
}
