#root {
  width: 100%;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 672px;
}

.app {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.saving-indicator {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #171717;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.875rem;
}
